@model string
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row" style="padding:70px;">
        <div class="col-lg-5">
            <div class="col-md-8">
                <input class="form-control input-md" placeholder="Tutar" type="number" />
            </div>
            <div class="col-md-4">
                <select class="form-control">
                    <option>Dolar</option>
                    <option>TL</option>
                    <option>Euro</option>
                </select>
            </div>
            
        </div>
        <div class="col-lg-2">
            <button type="button" class="form-control btn-primary btn-sm">Çevir</button>
        </div>
        <div class="col-lg-5">
            <label class="form-control" placeholder="Sonuç">@Model</label>
        </div>
    </div>
</div>

